<div class="bg-[#805841] text-[#DCF7F3] h-screen w-full p-4 retro-font">
    <h2 class="text-lg font-semibold mb-4">Practicas</h2>
    <ul class="space-y-4">
      
        <li>
          <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/practica1">
            Práctica 1
          </a>
        </li>
        <li>
          <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/practica2">
            Práctica 2
          </a>
        </li>
        <li>
          <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/practica3">
            Práctica 3
          </a>
        </li>
        <li>
          <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/practica4">
            Práctica 4
          </a>
        </li>
        <li>
          <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/practica5">
            Práctica 5
          </a>
        </li>
        <li>
          <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/practica6">
            Práctica 6
          </a>
        </li>
        <li>
          <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/practica7">
            Práctica 7
          </a>
        </li>
        <li>
          <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/practica8">
            Práctica 8
          </a>
        </li>
        <li>
          <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/practica9">
            Práctica 9
          </a>
        </li>
        <li>
          <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/practica10">
            Práctica 10
          </a>
        </li>
        <li>
          <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/practica11">
            Práctica 11
          </a>
        </li>
        <li>
          <a class="block bg-[#FFFCDD] text-[#805841] px-4 py-2 rounded shadow-md border border-[#F5A2A2] transition-all duration-300 hover:bg-[#FFD8D8] hover:text-[#805841]" routerLink="/practica12">
            Práctica 12
          </a>
        </li>
           
    </ul>
  </div>