.hero-image-container {
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

img {
  border-radius: 8px;
  transition: transform 0.3s ease; /* Transición suave */
}

img:hover {
  transform: scale(1.4); /* Escala la imagen al 110% cuando se pasa el cursor */
}
