<div class="flex flex-col min-h-screen bg-[#F7F9FC] relative">
    <!-- Breadcrumb (scrollable) -->
    <div class="overflow-y-auto z-30">
      <app-breadcrumb></app-breadcrumb>
    </div>
  
    <!-- Contenedor principal con contenido dinámico -->
    <div class="flex-grow m-4 p-6 bg-white shadow-lg rounded-lg overflow-y-auto z-40">
      <router-outlet></router-outlet>
    </div>
  
    <!-- Footer fijo en la parte inferior (se mantiene fijo) -->
    <app-footer class=" h-16 bottom-6 fixed w-full z-50"></app-footer>
  </div>
  