<!-- sidebar.component.html -->
<div class="bg-white text-gray-800 h-screen w-full p-4 border-r border-gray-300">
  <h2 class="text-lg font-semibold mb-4">Practicas de Angular</h2>
  <ul class="space-y-2">
      <li>
          <a class="block px-4 py-2 rounded transition-colors duration-200 hover:bg-gray-100" routerLink="/practica1">Práctica 1</a>
      </li>
      <li>
          <a class="block px-4 py-2 rounded transition-colors duration-200 hover:bg-gray-100" routerLink="/practica2">Práctica 2</a>
      </li>
      <li>
          <a class="block px-4 py-2 rounded transition-colors duration-200 hover:bg-gray-100" routerLink="/practica3">Práctica 3</a>
      </li>
      <li>
          <a class="block px-4 py-2 rounded transition-colors duration-200 hover:bg-gray-100" routerLink="/practica4">Práctica 4</a>
      </li>
      <li>
          <a class="block px-4 py-2 rounded transition-colors duration-200 hover:bg-gray-100" routerLink="/practica5">Práctica 5</a>
      </li>
      <li>
          <a class="block px-4 py-2 rounded transition-colors duration-200 hover:bg-gray-100" routerLink="/practica6">Práctica 6</a>
      </li>
      <li>
          <a class="block px-4 py-2 rounded transition-colors duration-200 hover:bg-gray-100" routerLink="/practica7">Práctica 7</a>
      </li>
      <li>
          <a class="block px-4 py-2 rounded transition-colors duration-200 hover:bg-gray-100" routerLink="/practica8">Práctica 8</a>
      </li>
      <li>
          <a class="block px-4 py-2 rounded transition-colors duration-200 hover:bg-gray-100" routerLink="/practica9">Práctica 9</a>
      </li>
      <li>
          <a class="block px-4 py-2 rounded transition-colors duration-200 hover:bg-gray-100" routerLink="/practica10">Práctica 10</a>
      </li>
      <li>
          <a class="block px-4 py-2 rounded transition-colors duration-200 hover:bg-gray-100" routerLink="/practica11">Práctica 11</a>
      </li>
      <li>
          <a class="block px-4 py-2 rounded transition-colors duration-200 hover:bg-gray-100" routerLink="/practica12">Práctica 12</a>
      </li>
  </ul>
</div>
